@model IEnumerable<FocusFlow.Models.TaskSummaryViewModel>

<div class="dashboard-task-summary">
    @foreach (var taskSummary in Model)
    {
        <div class="task-summary">
            <h3 class="task-title">@taskSummary.Title</h3>
            <p class="task-description">@taskSummary.Description</p>
            @if (!taskSummary.IsActive)
            {
                <button class="accent-2"> Set Active </button>
            }
        </div>
    }
</div>