@model IEnumerable<FocusFlow.Models.TaskSummaryViewModel>

<div class="card" style="min-height: 100%;">
    <h2 class="dashboard-task-header">Today's Tasks</h2>
    @foreach (var taskSummary in Model)
    {
        <a
            href="/Dashboard?activeTaskId=@taskSummary.Id"
            class="task"
            data-active="@taskSummary.IsActive.ToString().ToLower()"
        >
            <div class="task-complete">O</div>
            <div class="task-title">@taskSummary.Title</div>
            <div class="task-description">@taskSummary.Description</div>
            <div class="task-time">@taskSummary.TimeLoggedString</div>
            @if (taskSummary.IsActive)
            {
                <img class="task-active" src="assets/progressBar.png" alt="Active Task Icon"/>
            }
        </a>
    }
</div>