@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard-main">
    <div class="dashboard-task-summary-panel">
        @await Component.InvokeAsync("TaskSummary")
    </div>
    <div class="dashboard-timer-panel">
        <div class="card" style="height: 100%;"></div>
    </div>
    <div class="dashboard-stats-panel">
        <div class="card" style="height: 100%;"></div>
    </div>
</div>