@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard-main">
    @await Component.InvokeAsync("TaskPanel")
    <div class="dashboard-timer-panel">
        <div class="card" style="height: 100%;"></div>
    </div>
    <div class="dashboard-stats-panel">
        <div class="card" style="height: 100%;"></div>
    </div>
</div>