@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard-main">
    <div class="dashboard-task-summary-panel">
        @await Component.InvokeAsync("TaskList", new {
            controller = "DashBoard",
            header = "Today's Tasks" 
        })
    </div>
    <div class="dashboard-timer-panel">
        @await Component.InvokeAsync("Timer")
    </div>
    <div class="dashboard-stats-panel">
        <div class="card" style="height: 100%;"></div>
    </div>
</div>