@model FocusFlow.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard-main">
    <div class="dashboard-tasks-panel">
        @await Html.PartialAsync("_TaskSummary", Model.TaskSummaries)
    </div>
    <div class="dashboard-timer-panel"></div>
    <div class="dashboard-stats-panel"></div>
</div>