:root {
    --background: #dddddd;
    --input-background: #ffffff;
    --card-background: #ffffff;
    
    --accent-1: #aacfcf;
    --accent-2: #f7c59f;
    --accent-3: #d7b9d5;
    --accent-hover-1: #98bcbc;
    --accent-hover-2: #e6b388;
    --accent-hover-3: #cba9c3;

    --text: #2c2c2c;
    --accent-text: #2c2c2c;
    --disabled-text: #404040;
    
    --link: var(--accent-1);
    --border-color: #aaaaaa;
    
    /* General */
    --default-border-radius: 8px;
    --default-spacing: 16px;
}

.dark-mode {
    --background: #1e1e1e;
    --input-background: #404040;
    --card-background: #2a2a2a;
    
    --text: #e2e2e2;
    --disabled-text: #c4c4c4;

    --border-color: #3a3a3a;
}