@model FocusFlow.Models.TaskManagerViewModel 

@{
    ViewData["Title"] = "Task Manager";
}

<div class="task-manager-main">
    <div class="task-manager-panel">
        @await Component.InvokeAsync("TaskList", new {
            controller = "TaskManager",
            header = "Manage Tasks",
            showActive = false,
            showCompleted = @Model.ShowCompleted
        })
    </div>
</div>