@{
    ViewData["Title"] = "Task Manager";
}

<div class="task-manager-main">
    <div class="task-manager-panel">
        <div id="task-manager-component" style="height: 100%"></div>
    </div>
</div>