@model FocusFlow.Models.TaskManagerViewModel

<div class="card" style="min-height: 100%;">
    <h2 class="task-manager-header">Manage Tasks</h2>
    <div id="task-manager-component" style="height: 100%;">
        <div class="task-list">
            @{
                foreach (var taskView in @Model.TaskItems)
                {
                    @await Html.PartialAsync("Components/Tasks/_TaskItem", taskView)
                }
            }
            
            <form asp-controller="TaskManager" asp-action="CreateTask" method="post">
                <button type="submit" class="task-create">New Task</button>
            </form>
        </div>
    </div>
</div>