@model FocusFlow.Models.TaskManagerViewModel

<div class="card" style="min-height: 100%;">
    <h2 class="task-manager-header">Manage Tasks</h2>
    <div id="task-manager-component" style="height: 100%">
        @{
            foreach (var taskView in @Model.TaskItems)
            {
                <div>@taskView.Title</div>
            }
        }
    </div>
</div>