/* Dashboard Layout */

.dashboard-main {
    grid-row: 2;

    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "dashboard-tasks dashboard-timer"
        "dashboard-tasks dashboard-stats";
    gap: var(--common-spacing);

    height: 100%;
    overflow-y: hidden;
    border-radius: var(--common-border-radius);
}

.dashboard-task-summary-panel {
     grid-area: dashboard-tasks;

     overflow-y: auto;
     overflow-x: hidden;
 }

.dashboard-timer-panel {
    grid-area: dashboard-timer;
}

.dashboard-stats-panel {
    grid-area: dashboard-stats;
}

/* Dashboard Tasks Summary Styles */

.dashboard-task-summary-panel::-webkit-scrollbar-thumb {
    background: var(--accent-2);
}

.dashboard-task-summary-panel::-webkit-scrollbar-thumb:hover {
    background: var(--accent-2-hover);
}
