/* Task Manager Layout */

.task-manager-main {
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "task-manager-main";
    gap: var(--common-spacing);

    height: 100%;
    overflow-y: hidden;
    border-radius: var(--common-border-radius);
}

.task-manager-panel {
    grid-area: task-manager-main;

    overflow-y: auto;
    overflow-x: hidden;
}