@model FocusFlow.Models.TimerViewModel

<div class="card" style="height: 100%;">
    <div class="js-timer timer" data-task-id="@Model.ActiveTaskItemId" data-started-time="@Model.StartedTime">
        <div class="js-timer-display timer-display"></div>
        <div class="timer-controls">
            <button class="accent-1 js-timer-play-pause timer-play-pause"></button>
            <button class="accent-5 js-timer-reset timer-reset"></button>
        </div>
    </div>
</div>