/* Layout */

.app-layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "navbar main-content";
    
    height: 100vh;
}

/* Navbar */

.site-nav {
    grid-area: navbar;
    
    overflow: hidden;
    background-color: var(--card-bg);
    
    border-right: 2px solid var(--accent-1);
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
}

.site-nav-link {
    display: block;
    font-weight: bold;
    padding: var(--default-spacing);
    
    color: var(--text);
}

.site-nav-link:hover {
    background-color: var(--accent-1);
    text-decoration: none;
    color: var(--accent-text);
}

/* Main */

.page-main {
    grid-area: main-content;
    
    display: grid;
    grid-template-rows: auto 1fr;
    
    overflow: hidden;
}

.page-header {
    grid-row: 1;
    
    padding-top: var(--default-spacing);
    padding-left: var(--default-spacing);
}

/* Dashboard layout styles */

.dashboard-main {
    grid-row: 2;
    
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "dashboard-tasks dashboard-timer"
        "dashboard-tasks dashboard-stats";
    gap: var(--default-spacing);

    height: 100%;
    padding: var(--default-spacing);
    overflow-y: hidden;
    border-radius: var(--default-border-radius);
}

.dashboard-tasks-panel {
    grid-area: dashboard-tasks;
    
    overflow-y: auto;
    background-color: var(--card-bg);
    border-radius: var(--default-border-radius);
}

.dashboard-timer-panel {
    grid-area: dashboard-timer;

    background-color: var(--accent-1);
    border-radius: var(--default-border-radius);
}

.dashboard-stats-panel {
    grid-area: dashboard-stats;

    background-color: var(--accent-3);
    border-radius: var(--default-border-radius);
}