.card:has(.tasks-summary) {
    flex-grow: 1;
}

.tasks-summary {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    
    padding: 0.5rem;
    overflow-x: hidden;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-2);
}

.task-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    text-align: left;
}

.task-title,
.task-description {
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.task-title {
    flex-shrink: 1;
}

.task-description {
    flex: 1 1 auto;
    text-align: left;
    overflow: hidden;
    text-wrap: wrap;
}

.tasks-summary > button {
    flex-shrink: 0;
    margin-left: auto;
}