.dashboard-task-summary {
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    border: 1px solid var(--border-color);
}

.tasks-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-2);
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-title {
    justify-self: end;
    text-overflow: ellipsis;
    margin: 0;
}

.task-description {
    justify-self: start;
    overflow-wrap: break-word;
    margin: 0;
}

.tasks-summary > button {
    flex-shrink: 0;
}