:root {
    --bg: #f4f1ee;
    --text: #2c2c2c;
    --accent-1: #aacfcf;
    --accent-2: #f7c59f;
    --accent-3: #d7b9d5;
    --accent-hover-1: #98bcbc;
    --accent-hover-2: #e6b388;
    --accent-hover-3: #cba9c3;
    --accent-text: #2c2c2c;

    --link: var(--accent-3);
    --border-color: #dcdcdc;
    --card-bg: #ffffff;
    --input-bg: #ffffff;
}

.dark-mode {
    --bg: #1e1e1e;
    --text: #e2e2e2;
    --accent-1: #aacfcf;
    --accent-2: #f7c59f;
    --accent-3: #d7b9d5;
    --accent-hover-1: #91b5b5;
    --accent-hover-2: #e4ae83;
    --accent-hover-3: #c89bbc;
    --accent-text: #2c2c2c;

    --link: #b0c7df;
    --border-color: #3a3a3a;
    --card-bg: #2a2a2a;
    --input-bg: #2f2f2f;
    --border-radius: 5px;
}