/* Base Task Styling */

.task {
    background-color: var(--card-background-color-2);
    
    border-radius: var(--common-border-radius);
    /* TODO This color will change on active / hover. */
    border: var(--common-border-width) solid var(--border-color);
}

.task-description {
    field-sizing: content;
    overflow: hidden;
    resize: none;
}

.task-time-logged {
    align-self: start;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-hours-logged {
    text-align: right;
}