.task {
    display: grid;
    grid-template-columns: 30px auto 120px 30px;
    grid-template-rows: auto auto;
    grid-template-areas:
        "complete  title duedate    del"
        "setactive desc  loggedtime editsave"
    ;

    gap: var(--common-padding);
}

.task .task-completed {
    grid-area: complete;
}

.task .task-set-active {
    grid-area: setactive;
}

.task .task-title {
    grid-area: title;
}

.task .task-description {
    grid-area: desc;
}

.task .task-due-date {
    grid-area: duedate;
}

.task .task-time-logged {
    grid-area: loggedtime;
}

.task .task-delete {
    grid-area: del;
}

.task .task-edit {
    grid-area: editsave;
}

.task .task-save {
    grid-area: editsave;
}
