/* Base Task Styling */

.task {
    background-color: var(--card-background-color-2);
    padding: var(--common-padding);
    
    border-radius: var(--common-border-radius);
    /* TODO This color will change on active / hover. */
    border: var(--common-border-width) solid var(--border-color);
}

.task-set-complete {
    background-color: var(--accent-1);
}

.task-set-complete:hover {
    background-color: var(--accent-1-hover);
}

.task.complete {
    /* border: var(--common-border-width) solid var(--accent-1-hover); */
}

.complete .task-set-complete {
    background-image: url("../../../assets/check.svg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.task-set-active {
    background-image: url("../../../assets/set-active.svg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    
    background-color: var(--accent-3);
}

.task-set-active:hover {
    background-color: var(--accent-3-hover);
}

.task.active {
    position: sticky;
    top: 0;
    z-index: 1;

    border: var(--common-border-width) solid var(--accent-3);
}

.active .task-set-active {
    background-image: url("../../../assets/active.svg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.task-description {
    field-sizing: content;
    overflow: hidden;
    resize: none;
}

.task-time-logged {
    align-self: start;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-hours-logged {
    text-align: right;
}

.task-delete {
    background-image: url("../../../assets/trash.svg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--accent-2);
}