@model FocusFlow.Models.TaskListViewModel

<div class="card" style="min-height: 100%;">
    <div class="task-list-header-line">
        <h2 class="task-list-header">@Model.Header</h2>
        
        @if (@Model.ShowDateSelector)
        {
            <input
                class="task-list-date-selector"
                name="date"
                type="date"
                value="@Model.StartDate?.ToString("yyyy-MM-dd")"
            />
        }
    </div>

    <div class="task-list" style="height: 100%;">
        @await Html.PartialAsync("Components/TaskSublist/_TaskSublist", Model.ActiveTaskSublist)
        @await Html.PartialAsync("Components/TaskSublist/_TaskSublist", Model.IncompleteTaskSublist)
        @await Html.PartialAsync("Components/TaskSublist/_TaskSublist", Model.CompleteTaskSublist)

        <button class="js-task-create task-create">New Task</button>
    </div>
</div>