.task-list {
    display: flex;
    flex-direction: column;
    gap: var(--common-spacing);
}

.task-create {
    position: sticky;
    bottom: 0;
    z-index: 1;
    
    width: 100%;
    margin-top: 5px;
    padding: var(--common-spacing);
    
    color: var(--text-color);
    background-color: var(--input-background-color);
    
    border: 1px solid var(--accent-3);
    border-radius: var(--common-border-radius);
}

.task-create:hover {
    border: 1px solid var(--accent-3-hover);
}

/* Header line */

.task-list-header-line {
    display: grid;
    grid-template-columns: auto auto 120px 30px;
    grid-template-areas: "task-list-header . date";
    gap: var(--common-padding);

    padding: 0 var(--common-padding);
    margin-bottom: var(--common-spacing);
}

.task-list-header {
    grid-area: task-list-header;
}

.task-list-date-selector {
    grid-area: date;
}