.task-sublist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header"
        "content"
    ;
    
    padding: var(--common-padding);
    border-radius: var(--common-border-radius);
}

.task-sublist.active {
    background-color: var(--accent-3);
}

.task-sublist.incomplete{
    background-color: var(--accent-2);
}

.task-sublist.complete {
    background-color: var(--accent-4);
}

.task-sublist-header {
    grid-area: header;
    
    color: var(--accent-text-color);
    padding: var(--common-padding);
}

.task-sublist-content {
    grid-area: content;
    
    display: flex;
    flex-direction: column;
    gap: var(--common-padding);
}
